body {
    font-family: 'Open Sans',  sans-serif;
    margin: 0;
    padding: 0;
  }
  .counter-card {
     display: inline-block;
     margin-right: 20px;
     padding: 20px;
     text-align: center;
     border: 1px solid #ccc;
     border-radius: 6px;
     background-color: #f9f9f9;
  }
  .counter-card h4 {
     margin-top: 0;
  }
  .counter-card p {
     font-size: 32px;
     margin-bottom: 0;
     font-weight: bold;
  }
  button{
    margin-top: 20px;
    background-color: #FD562A;
    color: #fff;
    border-radius: 6px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }
  button:hover {
     background-color: #BF2902;
  }
  
  .result {
     margin-top: 20px;
  }
  .status-pass {
     color: green;
  }
  .status-fail {
     color: red;
  }
  .table {
     table-layout: fixed;
     width: 100%;
  }
  .table th,.table td {
     padding: 8px;
     text-align: left;
     border-bottom: 1px solid #ddd;
  }
  .table th {
     font-weight: bold;
  }
  
  @media (max-width: 769px) {
  .counter-card {
         display: block;
         margin-right: 0;
         margin-bottom: 20px;
  }
  .result {
         flex-direction: column;
  }
  .table th,.table td {
        font-size: 14px;
  }
  }
  