body {
    font-family: Arial, sans-serif;
    background-color: #f7592b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.converter {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.currency-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

select, input {
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #f7592b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f7592b;
}

#swap {
    background-color: #f7592b;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 40px;
    border-radius: 20%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.converted-value {
    margin-top: 20px;
    font-size: 18px;
}
