* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7592b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.converter {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}




button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #f7592b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f7592b;
}

#swap {
    background-color: #f7592b;
    margin: 5px 15px 0px;
    font-size: 18px;
    font-weight: bold;
    width: 40px;
    border-radius: 20%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.converted-value {
    font-weight: bold;
    margin: 0px 30px;
    font-size: 18px;
}


.currency-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="number"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: #007bff;
}

select {
    padding: 10px;
    width: 125px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 14px;
}

select:focus {
    border-color: #007bff;
}
