body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F7592B;
}
.container {
    background-color: #fff;
    width: 80vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
}
.btn {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-secondary {
    background-color: #F7592B;
}
#timer {
    font-size: 2rem;
    margin-top: 20px;
}

.user-message {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
  }
  
  .success {
    background-color: #767676;
  }
  
  .reset {
    background-color: #DC3545;
  }
  
  .error {
    background-color: #dc3545;
  }
  