/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f7592b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1,h2{
    margin-bottom: 15px;
}

.weather-app {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 600px;
}

header {
    background: white;
    color: black;
    padding: 20px;
    text-align: center; 
    margin-bottom: 10px;
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#city-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 70%;
}

#search-form button {
    padding: 10px 20px;
    background: #f7592b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

#search-form button:hover {
    background: #e6e6e6;
    color: #f7592b;
}

main {
    padding: 20px;
}

.current-weather, .additional-info {
    margin-bottom: 20px;
    display: none; /* Initially hide these sections */
}

.weather-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align weather info to the left */
}

.weather-info div, .weather-info img {
    margin: 10px 0;
}

#condition-icon {
    width: 64px;
    height: 64px;
}

.additional-info {
    text-align: right; /* Align additional info to the right */
}
